<div>
    <h1>Search</h1>
</div>
<div class="mb-3">
    <label class="form-label">Search Input</label>
    <input type="search" class="form-control" data-bind="value: SearchInput" required>
</div>
<button type="submit" class="btn btn-primary" data-bind="click: createSearch">Search</button>

<div class="row">
    <div class="col-4">
        UserId<input type="text" class="form-control" placeholder="UserId" aria-label="UserId" data-bind="value: userId " required>
    </div>
    <div class="col-4">
        Page<input type="text" class="form-control" placeholder="Page" aria-label="Page" data-bind="value: page" required>
    </div>
    <div class="col-4">
        Result Size<input type="text" class="form-control" placeholder="PageSize" aria-label="PageSize" data-bind="value: pageSize" required>
    </div>
</div>

<div class="mb-3">
    <div> <h2 data-bind="text: responseMessage  ">  </h2></div>
    <ul data-bind="foreach:  resultSearch">
        <!--shows each Search Object and count value, for each resultSearch Observablearray that gets called-->
        <li>
            <div>
                <h3>
                    Search results : <span data-bind="text: count   "></span>
                </h3>
            </div>
            <span data-bind="text: JSON.stringify(search)  "></span>
            <!--converts the object to JSON-->
        </li>
    </ul>
</div>
<button type="submit" class="btn btn-primary" data-bind="click: next"><span data-bind="click: createSearch">next</span></button>
<button type="submit" class="btn btn-primary" data-bind="click: prev"><span data-bind="click: createSearch">prev</span></button>
 