﻿<div>
    <button data-bind="click:  getUsers">GetUsers</button>
    <button data-bind="click: deleteUser">deleteUsers</button>

    <div> </div>
    <h4 data-bind="text: responseMessage  ">
    </h4>
    <!--handles feedback to the users-->

    <input data-bind="value: userId " required>

    <ul data-bind="foreach: User">

        <!-- each User Objects will have these attributes shown after clicking getUsers-->
        <li>
            <h3>
                <span data-bind="text: 'username: ' + username+ ' name:  '+ name + ' age:  ' + age + ' language: ' + language"></span>

            </h3>
        </li>
    </ul>


    <h4>
        Name
        <input data-bind="value: name" required>

        Age
        <input data-bind="value: age" required>

        Username
        <input data-bind="value: username" required>

        Language
        <input data-bind="value: language" required>
        Password
        <input data-bind="value: password" required>
        Salt
        <input data-bind="value: salt" required>
    </h4>

    <button data-bind="click: createUsers">createUsers</button>
    <button data-bind="click: updateUsers">updateUsers</button>
</div>