﻿<div>

    <button data-bind="click: deleteUser">deleteUsers</button>

    <div> </div>

    <!--handles feedback to the users-->

    <h4>
        userId <input data-bind="value: userId " required> </h4>



            <h4>
                Name
                <input data-bind="value: name" required>

                Age
                <input data-bind="value: age" required>

                Username
                <input data-bind="value: username" required>

                Language
                <input data-bind="value: language" required>
                Password
                <input data-bind="value: password" required>
                Salt
                <input data-bind="value: salt" required>
            </h4>

            <button data-bind="click: createUsers">createUsers</button>
            <button data-bind="click: updateUsers">updateUsers</button>
</div>