<div class="border">
 
    <form>




        <h4 data-bind="text: responseMessage  ">
        </h4>

        <ul data-bind="foreach: User">

            <!--each User Objects will have these attributes shown after clicking getUsers-->
            <li>
                <h5>
                    <span data-bind="text: 'username: ' + username+ ' name:  '+ name + ' age:  ' + age + ' language: ' + language"></span>

                </h5>
            </li>
        </ul>


        <input data-bind="value: userId" required>
        <label>UserId</label><br>
        <input data-bind="value: password" required>
        <label>password</label><br>
        <div></div>
        <button data-bind="click:  getUsers">login</button>
 
    </form>
</div>