<div class="col-6">
    <h3>Bookmark</h3>
</div>
<div class="row">
    <div class="col-2">
        <label  data-bind="value: userId " required> </label>
    </div>
    <div class="col-4">
        <input type="text" class="form-control" placeholder="Nconst" aria-label="Nconst" data-bind="value: nconst" required>
    </div>
    <div class="d-grid gap-2 d-md-block">
        <button type="submit" class="btn btn-primary" data-bind="click: createBookmark">Create Bookmark</button>
        <button type="submit" class="btn btn-danger" data-bind="click: deleteBookmark">Delete Bookmark</button>
        <button type="submit" class="btn btn-info" data-bind="click: getBookmarks">Get Bookmarks</button>
    </div>
</div>

<div data-bind="text: responseMessage  "> </div>

<ul data-bind="foreach: bookmarks">
    <li>
        <h3><span data-bind="text:  '    '+ userId + '   ' + nConst  "></span> </h3>
    </li>
</ul>